.bord03
.picture_container
  .picture_content
    .imgbox
      .list
        - @pictures.each do |pic|
          = link_to (image_tag pic.picture.url(:size1),:border=>0),(pic.url.nil? ? "#" : pic.url),:title=>pic.title






