%ul.nav.nav-list
  -# 企业地图
  - if @controller_name=="enterprises"
    %li.nav-header
      %h4 企业管理
    - if @action_name=="index"
      %li.active
        =link_to "企业列表",enterprises_path
    - else
      %li
        =link_to "企业列表",enterprises_path
    - if @action_name=="new"
      %li.active
        =link_to '新增企业', new_enterprise_path
    - else
      %li
        =link_to '新增企业', new_enterprise_path
    - if @action_name=="edit"
      %li.active
        =link_to '编辑企业','#' 
    - if @action_name=="show"
      %li.active  
        =link_to '查看企业','#'
  -# 新闻发布
  - if @controller_name=="categories"||@controller_name=="articles"
    %li.nav-header
      %h4 新闻发布
      = hidden_field_tag :category_tree,@ztree_data
    -if @controller_name=="categories"&& @action_name=="index"
      %li.active
        =link_to "新闻分类列表","#"
    - else
      %li
        =link_to "新闻分类列表","/manage/categories"
    -if @controller_name=="categories"&& (@action_name=="new"||@action_name=="create")
      %li.active
        =link_to "创建新闻分类","#"
    - else
      %li
        =link_to "创建新闻分类",new_category_path
    -if @controller_name=="categories"&& @action_name=="show"
      %li.active
        =link_to "查看新闻分类","#"
    -if @controller_name=="categories"&& @action_name=="edit"
      %li.active
        =link_to "编辑新闻分类","#"
    -if @controller_name=="articles"&& @action_name=="index"
      %li.active
        =link_to "新闻列表","#"
    - else
      %li
        =link_to "新闻列表","/manage/articles"
    -if @controller_name=="articles"&& (@action_name=="new"||@action_name=="create")
      %li.active
        =link_to "创建新闻","#"
    - else
      %li
        =link_to "创建新闻",new_article_path
    -if @controller_name=="articles"&& @action_name=="show"
      %li.active
        =link_to "查看新闻","#"
    -if @controller_name=="articles"&& @action_name=="edit"
      %li.active
        =link_to "编辑新闻","#"
  -# 系统管理
  - if @controller_name=="records"
    %li.nav-header
      %h4 系统管理
    -if @action_name.include? "contact"
      %li.active
        =link_to "联系方式","/manage/contact"
    - else
      %li
        =link_to "联系方式","/manage/contact"
    - if @action_name.include? "sound"
      %li.active
        =link_to "首页声音","/manage/sound"
    - else
      %li
        =link_to "首页声音","/manage/sound"
  -# 杂志管理
  - if @controller_name=="magazines"
    %li.nav-header
      %h4 杂志管理
    -if @action_name=="index"
      %li.active
        =link_to "杂志列表","#"
    - else
      %li
        =link_to "杂志列表","/manage/magazines"
    -if @action_name=="new"||@action_name=="create"
      %li.active
        =link_to "创建新杂志","#"
    - else
      %li
        =link_to "创建新杂志",new_magazine_path
    -if @action_name=="show"
      %li.active
        =link_to "查看杂志","#"
    -if @action_name=="edit"
      %li.active
        =link_to "编辑杂志","#"
  -# 友情链接管理
  - if @controller_name=="links"
    %li.nav-header
      %h4 友情链接管理
    -if @action_name=="index"
      %li.active
        =link_to "友情链接列表","#"
    - else
      %li
        =link_to "友情链接列表","/manage/links"
    -if @action_name=="new"||@action_name=="create"
      %li.active
        =link_to "创建新友情链接","#"
    - else
      %li
        =link_to "创建新友情链接",new_link_path
    -if @action_name=="show"
      %li.active
        =link_to "查看友情链接","#"
    -if @action_name=="edit"
      %li.active
        =link_to "编辑友情链接","#"
  -# 广告管理
  - if @controller_name=="ads"||@controller_name=="ad_spaces"
    %li.nav-header
      %h4 广告管理
    -if @controller_name=="ad_spaces"&& @action_name=="index"
      %li.active
        =link_to "广告位列表","#"
    - else
      %li
        =link_to "广告位列表","/manage/ad_spaces"
    -if @controller_name=="ad_spaces"&& (@action_name=="new"||@action_name=="create")
      %li.active
        =link_to "创建广告位","#"
    - else
      %li
        =link_to "创建广告位",new_ad_space_path
    -if @controller_name=="ad_spaces"&& @action_name=="show"
      %li.active
        =link_to "查看广告位","#"
    -if @controller_name=="ad_spaces"&& @action_name=="edit"
      %li.active
        =link_to "编辑广告位","#"
    -if @controller_name=="ads"&& @action_name=="index"
      %li.active
        =link_to "广告列表","#"
    - else
      %li
        =link_to "广告列表","/manage/ads"
    -if @controller_name=="ads"&& (@action_name=="new"||@action_name=="create")
      %li.active
        =link_to "创建广告","#"
    - else
      %li
        =link_to "创建广告",new_ad_path
    -if @controller_name=="ads"&& @action_name=="show"
      %li.active
        =link_to "查看广告","#"
    -if @controller_name=="ads"&& @action_name=="edit"
      %li.active
        =link_to "编辑广告","#"
  -# 图库管理
  - if @controller_name=="pictures"||@controller_name=="pic_spaces"
    %li.nav-header
      %h4 图库管理
      = hidden_field_tag :category_tree,@ztree_data
    -if @controller_name=="pic_spaces"&& @action_name=="index"
      %li.active
        =link_to "图片位列表","#"
    - else
      %li
        =link_to "图片位列表","/manage/pic_spaces"
    -if @controller_name=="pic_spaces"&& (@action_name=="new"||@action_name=="create")
      %li.active
        =link_to "创建图片位","#"
    - else
      %li
        =link_to "创建图片位",new_pic_space_path
    -if @controller_name=="pic_spaces"&& @action_name=="show"
      %li.active
        =link_to "查看图片位","#"
    -if @controller_name=="pic_spaces"&& @action_name=="edit"
      %li.active
        =link_to "编辑图片位","#"
    -if @controller_name=="pictures"&& @action_name=="index"
      %li.active
        =link_to "图片列表","#"
    - else
      %li
        =link_to "图片列表","/manage/pictures"
    -if @controller_name=="pictures"&& (@action_name=="new"||@action_name=="create")
      %li.active
        =link_to "创建图片","#"
    - else
      %li
        =link_to "创建图片",new_picture_path
    -if @controller_name=="pictures"&& @action_name=="show"
      %li.active
        =link_to "查看图片","#"
    -if @controller_name=="pictures"&& @action_name=="edit"
      %li.active
        =link_to "编辑图片","#"
  -# 招聘管理
  - if @controller_name=="resumes"||@controller_name=="employing_units"
    %li.nav-header
      %h4 招聘管理
    -if @controller_name=="resumes"&& @action_name=="index"
      %li.active
        =link_to "简历列表","#"
    - else
      %li
        =link_to "简历列表","/manage/resumes"
    -if @controller_name=="resumes"&& (@action_name=="new"||@action_name=="create")
      %li.active
        =link_to "创建简历","#"
    - else
      %li
        =link_to "创建简历",new_resume_path
    -if @controller_name=="resumes"&& @action_name=="show"
      %li.active
        =link_to "查看简历","#"
    -if @controller_name=="resumes"&& @action_name=="edit"
      %li.active
        =link_to "编辑简历","#"
    -if @controller_name=="employing_units"&& @action_name=="index"
      %li.active
        =link_to "聘用单位列表","#"
    - else
      %li
        =link_to "聘用单位列表","/manage/employing_units"
    -if @controller_name=="employing_units"&& (@action_name=="new"||@action_name=="create")
      %li.active
        =link_to "创建聘用单位","#"
    - else
      %li
        =link_to "创建聘用单位",new_employing_unit_path
    -if @controller_name=="employing_units"&& @action_name=="show"
      %li.active
        =link_to "查看聘用单位","#"
    -if @controller_name=="employing_units"&& @action_name=="edit"
      %li.active
        =link_to "编辑聘用单位","#"

