-#新闻容器
.news_container
  .bord01
  -#标题
  .news_title
    .title_brow
      %strong.brow_text_white 
        %a{href:"#"}
          = @name
    %span.linkspan
      %a{href: @link} >>more
  -#内容
  .news_content
    = render_cell @rendercell,@display unless @rendercell.nil?

