-#新闻容器
.news_container
  .bord01
  -#标题
  .news_title
    %strong.brow_text_red
      = @name
    %span.brow_text_gray
      = @ename 
    %span.linkspan
      - if @link!=""
        = link_to ">>more",@link
  -#内容
  .news_content
    = render_cell @rendercell,@display,@arg

