.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      =image_tag @ad.poster.url  if @ad.present?
  .blank5
  -#公告
  .row
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article",:display=>"display",:symbol=>"memberpages:R1A",:link=>"#"
    .span9
      = render_cell :topic_pool2,:display,:rendercell=>"article_theme_list",:display=>"display",:symbol=>"memberpages:R1B",:link=>"#"
  .blank5
  -#章程
  .row
    .span3
      = render_cell :topic_pool3,:display,:rendercell=>"article",:display=>"display",:symbol=>"memberpages:R2A",:link=>"#"
    .span9
      = render_cell :topic_pool2,:display,:rendercell=>"member_list",:display=>"display",:symbol=>"memberpages:R2B",:link=>"#",:name=>"理事单位"


