%table.table.table-striped.table-condensed
  %thead
    %tr
      %th 项目名称 
      %th 位置
  %tbody
    - @investments.each do |investment|
      %tr
        %td= link_to investment.name,"/investment_#{investment.to_pinyin_param}/#{investment.id.to_s}"
        %td= investment.local
