%table.table.table-striped.table-condensed
  %thead
    %tr
      %th 项目名称 
      %th 位置
  %tbody
    - @investments.each do |investment|
      %tr
        %td= investment.name
        %td= investment.local

