.srbtn.srbtn1
  %span
    零售世界微博
  .tail
.srbtn.srbtn2
  %span
    超商网微博
  .tail
.srbtn.srbtn3
  %span
    零售世界QQ群
  .tail
.srbtn.srbtn4
  %span
    超商网QQ群
  .tail
.clr 
.blank3
.rbtn
  = link_to image_tag "writing.jpg",:alt=>"欢迎投稿"
.blank3
.rbtn
  = link_to image_tag "booking.jpg",:alt=>"欢迎订阅"

