-#新闻容器
.news_container
  .bord01
  -#标题
  .news_title
    .arrow_brow
    %strong.brow_text_red
      = @name
    %span.brow_text_gray
      = @ename
    - unless @link.nil? 
      %span.linkspan
        %a{href: @link} >>more
  -#内容
  .news_content
    = render_cell @rendercell,@display

