.notice_container
  .notice_title
    .out
      %strong.brow_text_red
        %a{href: @link} 
          = @name 
      %span.brow_text_gray
        = @ename 
      %span.linkspan
        - if @link!=""
          = link_to ">>more",@link
    .over
  .notice_content
    = render_cell @rendercell,@display,@arg

