.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      =image_tag @ad.poster.url  if @ad.present?
  .blank5
  -#详细内容
  .row
    .span9
      = render_cell :topic_pool8,:display,:id=>params[:id]
    .span3 
