%br
%br
.span12
  -#新闻容器
  .news_container
    .bord01
    -#标题
    .news_title
      .title_brow
        %strong 
          %a{href:"#"} 零售世界
      %span
        %a{href:"/contact"} >>more
    -#内容
    .news_content
      内容
    .bord01

  -#留白
  %br
  %br



