.span4
  #mapTab
    %ul.nav.nav-tabs#chooseTab
      %li.active
        %a{:href=>"#tab1","data-toggle"=>"tab"} 按拼音检索城市
      %li 
        %a{:href=>"#tab2","data-toggle"=>"tab"} 按省份检索城市
    .tab-content
      .tab-pane.active#tab1
        %ul
          - @cities_char.each do |char|
            %li
              =raw "<abbr title='以#{char}拼音开头的城市'>#{char}</abbr>&nbsp;"
              - @cities1[char].each do |city| 
                =link_to(city,"#")+" "
      .tab-pane#tab2
        %ul
          - @cities2.each do |key,value|
            %li
              =raw "<abbr title='#{key}的城市'>#{key}</abbr>"
              - value.each do |city|
                =link_to(city,"#tab2")+" "
.span8
  #mapContainer
    .well
    #mapObj.view{:style=>"height:550px"}







%script{:type=>"text/javascript",:src=>"http://app.mapabc.com/apis?&t=ajaxmap&v=2.1.2&key=63044917e7d1ddf606d4044e810645b476fe83292cbe8dbb2ec81dd96d527f55402f239728a99623"}
