.blank5
.span12
  -#顶栏广告
  .row 
    .span12
      = render_cell :ad_list,:display,:symbol=>"ad:homepages:A1"
  .blank5
  -#详细内容
  .row
    .span9
      = render_cell :topic_pool8,:display,:rendercell=>"house",:display=>"display",:hid=>params[:id]
    .span3
      = render_cell :rightframe,:display 
