.top_content
  .top_title 沃尔玛“中国式”的困局      
  .top_introduction
    - unless @topics.first.nil? 
      - unless @topics.first.introduction.blank?
        = link_to raw "&nbsp;&nbsp;&nbsp;&nbsp;"+@topics.first.introduction
      - else
        = link_to raw "&nbsp;&nbsp;&nbsp;&nbsp;"+strip_tags(@topics.first.body)[0..150]+"...&nbsp;&nbsp;<a href='/detail/#{@topics.first.to_page_param}'><详细></a>" 
  .top_line
  .top_list
    %ul.topic_list
      - @topics.each do |topic|
        %li
          .tltitle
            &nbsp;
            =link_to topic.short_title,"/detail/#{topic.to_page_param}" 
          .tldate
            =topic.created_at.strftime("%m-%d").to_s
          .clr 

