@import "compass/utilities/lists";
@import "compass/typography/links";
/***后台样式***/
            
#login {
  color: #fff;                 
  background: #222 url('/assets/bg-login.gif');
}
#login-wrapper {               
  background: url('/assets/bg-login-top.png') top left repeat-x;
  #login-top {                 
        width: 100%;           
        padding: 140px 0 50px 0;        
        text-align: center;    
  }
  #login-content {     
        width: 500px; 
        margin: 0 auto;        
        label {
          color: #fff;
        }
        .form-actions{         
          background :transparent none;   
          border-top: none;    
        }
  }
}
/*controls*/                   
 .controlsUL{                  
         @include horizontal-list-container;
         li{                   
            @include horizontal-list-item;
        }
 }

/*treeUL*/
.treeUL{
         @include horizontal-list-container;
         li{
            @include horizontal-list-item("11px");                          
        }
       }             
/***网站样式***/
.clr{clear:both}
.menu{
  height:35px;
  background-image:url(menu_bg_line.gif); 
  padding-left:12px;
  ul{
   @include horizontal-list-container;
   li{
     @include horizontal-list-item("0px"); 
     line-height:35px;
      background-image:url(menu_bg.gif);
     &.last{background-image:url(menu_bg_line.gif);} 
     a {
         @include link-colors(white,black,black,white,black); 
           display: block;
           width:94px;
           height: 35px;
           text-align:center;
           text-decoration:none;
           font-weight:bold;   
        &:hover { 
           background:url(menu_bg_squre.gif) no-repeat;
        }
        &.active{
          background:url(menu_bg_squre.gif) no-repeat;
         color:black; 
        }
     }
    }
  }
}
.red_line{
  height:3px; 
  background-color:#c90000;
}

.logobanner {
    border-color: -moz-use-text-color #E0E0E0 #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: 112px;
    margin-bottom: 1px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.logo{
 height:112px;
 position:absolute;
 top: 30px;
 left: 10px;
 width:148px;
 overflow: hidden; 
}
.banner{
 height:112px;
 position:absolute;
 top: 0;
 right:0;
 width:751px;
 overflow: hidden; 
}
.footer_line{
   height:5px;
   background-image:url(footer_line.gif);
}

#footer{
  text-align:center;
  ul {
  @include horizontal-list-container; 
  width:502px;
  margin:0 auto; 
  li {  
   @include horizontal-list-item(5px);
   line-height:35px;         
   a{
      @include link-colors(#333,#bb0214,#000 ,#000,#000); 
      display: block;
           text-align:center;
    }
   }
  }
  address {
    padding:4px 0;
    color:#666;
  }
}
.copyright{
  color:#666;
}

#mapTab{
  padding-top:20px;
}

#mapContainer{
  a.active{color:red}
  padding:20px 5px;
  ul{
   @include inline-block-list-container;
   li{
     @include inline-block-list-item;
   }
  }
}

.bord01 {
  border-top: 1px solid #CCC;
}
.bord02{
  border-top: 1px solid #c2d0df;
}
.bord03{
  border-top: 1px solid #afd0df;
}
.blank3{
  background: white;
  height:3px;
}  
.blank5 {
  background: white;
  height:5px;
}


/*news容器*/

.news_container{
  .news_title{
    overflow: hidden;
    height:28px;
    background-image:url(bg1.jpg);
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;  
    position: relative; 
    .linkspan{
        color:red;
        display: block;
        position:absolute;
        float:right;
        top:5px;
        right:35px;
        a{
           @include link-colors(red,#bb0214,#bb0214,#bb0214,#bb0214); 
        }
    }
    .arrow_brow{
      float:left;
      background-image:url(arrow.jpg);
      width:12px;
      height:12px;
      position:relative;
      top:8px;
      left:10px;

    }      
    .title_brow{
      float:left;
      width:134px;
      height:28px;
      background-image:url(title_left.jpg);
    }
    .brow_text_white{
        color:white;
        display: block;
        position:absolute;
        top:5px;
        left:35px;
        a{
          @include unstyled-link;
          cursor: pointer;
        }
     }
     .brow_text_red{
        color:#bb0016;
        display: block;
        float:left;
        position:relative;
        top:5px;
        left:15px;
        a{
          @include unstyled-link;
          cursor: pointer;
        }
     }
     .brow_text_gray{
        color:#797979;
        display: block;
        float:left;
        top:5px;
        left:35px;
        position:relative; 
     }
     .detail_title{
        float:left;
        top:6px;
        left:35px;
        position:relative; 
     }
 }
  .news_content {
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;  
    border-bottom:1px solid #ccc;   
    overflow: hidden;
    background:white;
  }
  .detail_content{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;  
    border-bottom:1px solid #ccc;   
    overflow: hidden;
    background:white;
    padding:20px;
    
    .artibodyTitle{
       color: #03005C;
       font-family: "黑体";
       font-size: 20px;
       font-weight: normal;
       height: 35px;
       line-height: 35px;
       overflow: hidden;
       text-align: center;
    }
    .artiInfo{
       width:600px;
       border-top:1px solid #ccc;
       text-align: center;
       margin:5px auto;
       padding:10px 0;
    }
    .artibody{


    }


  }




}


/*notice容器*/
.notice_container{
   .notice_title{
     height:28px;
     background:url(title_brow_3.jpg) repeat-x bottom left;
     position: relative;
     overflow: hidden;
     .linkspan{
        color:red;
        display: block;
        position:relative;
        float:left;
        top:3px;
        left:25px;
        a{
         @include link-colors(red,#bb0214,#bb0214,#bb0214,#bb0214); 
        }
     }      

     .out{
        background:url(title_brow_1.jpg) repeat-x bottom left;
        height:28px;
        width:250px;
        float:left;
     }
     .over{
        background:url(title_brow_2.jpg) no-repeat bottom left;
        height:28px;
        width:3px;
        float:left;
     }
     .brow_text_red{
        color:#bb0016;
        display: block;
        float:left;
        position:relative;
        letter-spacing:3px;
        top:3px;
        left:15px;
        a{
          @include unstyled-link;
          cursor: pointer;
        }
     }
     .brow_text_gray{
        color:#797979;
        display: block;
        float:left;
        top:3px;
        left:35px;
        position:relative; 
     }
   }
   .notice_content{
     background:white;
   }
}


/*top容器*/
.top_container{
 border-left:1px solid #c2d0df;
 border-right:1px solid #c2d0df;   
 padding: 0 1px;
 .top_content{
      height:448px;  
      background:white url(topbg.jpg) repeat-x top left;
      overflow: hidden;
   .top_title{
     font-weight:bold;
     font-size:13pt;
     color:#bb0214;
     line-height:40px;
     text-align:center;
   }
   .top_introduction{
     line-heigt:100px;
     padding:10px;
   }
   .top_line{
     background:white url(line.jpg) no-repeat top left; 
     height:1px;
     width:300px;
     margin-left:10px;
   }
   .top_list{
       padding-right:12px;
       @include no-bullets; 
      .tltitle{float:left;}
      .tldate{float:right;}
   }


 }
}


/*news_tab容器*/
.news_tab_container{
  .news_title{
    height:28px;
    background-image:url(bgtab.jpg);
    border-left:1px solid #ccc;
    border-right:1px solid #ccc; 
    position: relative; 
    .brow_tab{
       background:url(newstab.jpg) no-repeat bottom left;
       width:181px;
       height:24px;
       position: relative; 
       top:5px;
       left:20px;
       .linkspan{
          color:red;
          display: block;
          position:absolute;
          float:right;
          top:5px;
          right:15px;
          a{
          @include link-colors(red,#bb0214,#bb0214,#bb0214,#bb0214); 
          }
       }        
       .brow_text_red{
          color:#bb0016;
          display: block;
          float:left;
          position:relative;
          top:5px;
          left:15px;
          a{
            @include unstyled-link;
            cursor: pointer;
          }
       }
       .brow_text_gray{
          color:#797979;
          display: block;
          float:left;
          top:5px;
          left:25px;
          position:relative; 
       }
     }
  }
  .news_content {
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;  
    border-bottom:1px solid #ccc;  
    background:white;
  }
}

/*sound容器*/
.sound_container{
  background:white url(jianbian.jpg) repeat-x top left;
  height:100px;
  .sound_title{
    height:30px;
    .sound{
       background-image:url(sound.jpg);
       width:52px;
       height:20px;
       top:0.18cm;
       left:0.18cm;
       position:relative;
       strong{
        color:white;
        letter-spacing:3px;
        top:2px;
        left:4px;
        position:relative;
       } 
    }
  }
  .sound_content{
    padding:5px 10px;
    color:#2267ad;
    overflow: hidden; 
  }
}

/*新闻列表*/
.topic_list{
  li{
    list-style-type : square;
  }
  a{
    @include link-colors(black,#bb0214,black,black,black); 
   line-height:26px;
  }
}

/*杂志列表*/
.magazine_list{
 @include horizontal-list-container;
 li{
  @include horizontal-list-item(18px);
  &:first-child, &.first{
    padding-left:35px;
  }
 }
 a{
    @include link-colors(black,#bb0214,black,black,black); 
  }
}

/*杂志下载*/
.mgimgtxt{
  margin:10px 0;
  overflow:hidden;
  height:172px;
  text-align:center;
  .mgimg{
    display:block;
  }
  .mgtxt{
    display:block;
  }
}

/*图片画廊*/
.gallery_list{
 @include horizontal-list-container;
 li{
  @include horizontal-list-item(5px);
  &:first-child, &.first{
    padding-left:15px;
  }
 }
 a{
    @include link-colors(black,#bb0214,black,black,black); 
  }
}

.galleryimgtxt{
  margin:10px 0;
  overflow:hidden;
  #height:1i72px;
  text-align:center;
  .img{
    display:block;
  }
  .txt{
    display:block;
  }
}





/*链接列表*/
.link_list{
 @include horizontal-list-container;
 li{
  @include horizontal-list-item(6px);
  &:first-child, &.first{
    padding-left:5px;
  }
  overflow:hidden;
 }
}



/**图片轮转**/
.imgbox {
  width:280px;
  height:220px;
  border:1px #DDD solid;
  margin:10px auto;
  .list { display:none;}
}


/*图片轮转*/
.picture_container{
 border-left:1px solid #afd0df;
 border-right:1px solid #afd0df;  
 border-bottom:1px solid #afd0df;   

 padding: 0 1px;
 .picture_content{
      height:242px;  
      background:white url(picturepool.jpg) repeat-x top left;
      overflow: hidden;
     
 }
}

/**QQ,WEIBO,等按钮**/
.rbtn{
  border:1px solid #ccc; 
  background:white url(btnbg.jpg) repeat-x top left;
  height:53px;
  text-align:center;
}
 
.srbtn{
  background:white url(sbtnbg.jpg) repeat-x top left;
  height:53px;
  width:110px;
  position:relative;
  span{
       top:20px;
       left:19px;
       position:absolute;
  }
  .tail{
    height:53px; 
    width:20px;
    float:right;
    background:white url(sbtnbg.jpg) repeat-x top right;
  }
  float:left;
}

 
.srbtn1{
 .tail{
   background-position:20px 0;
  }
}
.srbtn2{
  background-position:-137px 0;
  .tail{
   background-position:20px 0;
  }
}
.srbtn3{
  background-position:0 -52px;
  .tail{
   background-position:20px -2px;
  }
  span{
       top:20px;
       left:17px;
}

}
.srbtn4{
  background-position:-137px -52px;
  .tail{
   background-position:20px -2px;
  }
}


 
