= simple_form_for(@category,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    =f.input :symbol
    .control-group.select      
      %label.select.control-label 父部门
      .controls
        =raw parent_category_selects(@category.id,'categoryUL0')
    =f.input :parent_id,:as=>"hidden"
  .form-actions
    = f.button :submit
