= render_cell :topic_pool3,:display,:rendercell=>"article_top",:display=>"display",:symbol=>"homepages:R1C"
.blank5
= render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R2B"
.blank5
= render_cell :topic_pool2,:display,:rendercell=>"magazines",:display=>"display",:symbol=>"magazinepages:R1C" 
.blank5
=# render_cell :topic_pool3,:display,:rendercell=>"article_list",:display=>"display",:symbol=>"homepages:R2B"
.blank5
=# render_cell :ad_list,:display,:symbol=>"ad:homepages:A1"

